[submodule "dat250expass4"]
	path = dat250expass4
	url = https://github.com/Eirmas/dat250expass4
	branch = main
[submodule "dat250expass5"]
	path = dat250expass5
	url = https://github.com/Eirmas/dat250expass5
	branch = main
