[submodule "dat250expass4"]
	path = dat250expass4
	url = https://github.com/Eirmas/dat250expass4
	branch = main
[submodule "dat250expass5"]
	path = dat250expass5
	url = https://github.com/Eirmas/dat250expass5
	branch = main
[submodule "dat250expass6"]
	path = dat250expass6
	url = https://github.com/Eirmas/dat250expass6
	branch = main
[submodule "dat250expass7"]
	path = dat250expass7
	url = https://github.com/Eirmas/dat250expass7
